{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags widget_tweaks %}

{% block body_class %}template-submition-page{% endblock %}

{% block extra_css %}
<style type="text/css">
	html{
	{% if page.background_image %}
		{% image page.background_image original as background_image %}
			background:url({{ background_image.url }}) no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	{% else %}
			background-color: black;
		}
{% endif %}
</style>
    <link href="{% static 'css/welcome_page.css' %}" rel="stylesheet">
    <link href="{% static 'css/fancy_btn.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}

<div class="video-centre-block">
	<div class="container inner-block">
		
{% if success %}
	<div class="alert alert-info">
	<h2>Success!</h2>
	<p>We have recieved your entry</p>
	</div>
{% endif %}

{% if errors %}
	<div class="alert alert-danger" style="text-align: left;">
	<h2>Oh No!</h2>
	<p>We had some errors. Check the following fields:</p>
	{% for error in errors %}
	<ul>
	{% for detail in error %}
		{% if forloop.first %}
		<li>{{ detail }}</li>
		{% else %}
		<ul>
			<li>{{ detail }}</li>
		</ul>
		{% endif %}
		{% endfor %}
		{% endfor %}
		</ul>
	</div>
{% endif %}
<!-- main video	
{% if page.intro_video_id %}
<div id="intro-video">
	<iframe id="intro-video-frame" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.intro_video_id }}?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}
For video in video --->
<h1 class="text-info headline">{{ page.headline }}</h1>
<h2>{{ new_user.first_name }}</h2>

{% if page.intro_video_id %}
<div class="intro-video">
	<iframe id="grid-intro-video-frame" src="https://www.youtube-nocookie.com/embed/{{ page.intro_video_id }}?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}


<div class="container" style="justify-content: center">
	
<div class="row" style="width: 100%; justify-content: center;margin: 0 auto">
	
	{% with blocks=page.video_ids %}
	{% for block in blocks %}
		{{ block }}
	{% endfor %}
	{% endwith %}
</div>
</div>

<button id="video-modal-btn" class="fancy-btn btn-info">Submit your opinion!</button>

<div id="videoModal" class="modal">
	<div class="modal-content">
		<span id="video_modal_close" class="close">&times;</span>
		{% if form %}
			<form action="{% pageurl page %}" method="POST">
			{% csrf_token %}
			<div class="row mx-1" style="justify-content: center">

				{% include 'bf_forms.html' with form=form %}
				<input type="hidden" name="user" value='{{ new_user.username }}'>
			</div>
			<input class='fancy-btn btn-info btn-block'type="submit" value="Share the wonder!">
			</form>

			{% else %}
				<h4>You can only fill in the form once</h4>
		{% endif %}
	</div>
</div>
</div>
	
</div>	
{% endblock content %}


<!-- Scripts -->
{% block extra_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script src="{% static 'js/fitText/jquery.fittext.js' %}"></script>
<script src="{% static 'js/fancy_btn.js' %}"></script>
<script type="text/javascript">
	$(function(){
		$(".headline").fitText(1.4);
		var vid_grid_width = $(".grid-video-frame").width()
		$(".grid-video-frame").height((vid_grid_width*0.6))
		var vid_intro_grid_width = $("#grid-intro-video-frame").width()
		$("#grid-intro-video-frame").height((vid_intro_grid_width*0.6))

		//improving upload file button
		$('#id_video').addClass('fancy_btn')

		//bmodal
		//get modal
		var modal = $('#videoModal');

		//get btn opening modal
		var modal_btn = $('#video-modal-btn');

		//get <span> element that closes modal
		var span = $('#video_modal_close');

		//when user clicks on btn open modal

	modal_btn.click(function(){
	$('#videoModal').css("display","block");
	})

	//when user clicks on (x) close modal
	span.click(function(){
	$('#videoModal').css("display","none");
	})
	//if user clicks anywhere else close modal
	$(window).click(function(event){
		var modal_display = $('#videoModal').css('display')
//	if ((modal_display =='block')){
//		console.log('block')
//		if (!(event.target == $('#videoModal'))){
//			console.log('got here')
//			$('#videoModal').css("display","none");
//		}
	//}
	console.log(event.target);
	if (event.target.id == $('#videoModal').attr('id')){
		$('#videoModal').css("display","none");
	}
	})
})
</script>

{% endblock %}